@import "tailwindcss";
.nav-hover{
  text-decoration: none;
  color: white; /* normal color */
  transition: all 0.3s;
}

.active-link {
  /* text-decoration: underline;
  text-decoration-color: #db0306; */
  color: #db0306;
  text-underline-offset: 4px; /* optional for spacing */
}

.nav-hover:hover{
    color: #ff222f;
    transition: 0.3s;
    text-decoration: underline;
}


.active-link-mob{
  background-color:#db0306;
  color:black;
  padding: 10px 5px;
  width: 100%;
  text-align: end;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}


.nav-hover-mob{
  padding: 10px 5px;
  width: 100%;
  text-align: end;
}
.nav-hover-mob:hover{
  background-color: #f04f52;
  color: black;
}


